<!DOCTYPE html>
<html>
<head>
	<title>Rehearsal Process</title>
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/rehearsal_process.css">
	<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
	<body>
		<div id = "wrapper">
		<%- include('partials/navigation_header.ejs') %>
			<div class="wide-column">
				<div class="archive-nav">
					<h1>Rehearsal Process</h1>
					<div class="archive-next">
						<a href="/composition_workshop">
							
						<h2>Composition Workshop</h2>
						<img src="/media/caret-right.png">
						</a>
					</div>
				</div>
				<p id="rehearsal-intro">
					This booklet chronicles each rehearsal in preparation for the performance of strikethrough.
				</p>
				<div id="main-section">
						<div class="scene top">
							<div class="scene-text">
								<h2>12.10.19</h2>
								<p>
									I taught the two dancers five pre-choreographed phrases, each created alongside <span class='strikethrough'>strikethrough</span> #1’s five sections. Each phrase extends (in some fashion) diagonally backwards towards a vanishing point. The centerpiece of the poem involves a shapeless form piercing an entrance, a nothingness in air yet expending energy, like the softness of a body that still breathes in space. The process of <span class='strikethrough'>strikethrough</span> seems to sift the words towards a formless gateway, perhaps into a black void where “the breath/ only comes in,” like the world is imploding, reversing, rewinding, wind blowing in, colors unmixing, geography unforming. Funnily enough, this might be how dance is eliminated into ideas, like when a choreographer opens her notebook of movement plans and begins to write more plans instead of falling victim to the unknowability, the unplanned movements that ascend out of planned ones. Spatially, the phrases become more condensed and emphasize placement over travel. There are no threads between the phrases, rather they re-begin on the downstage or upstage diagonal. For the second half of rehearsal, I used the script as a guide in an exercise I called interrupter/interrupted. The dancer whose role was the “interrupted” merely performed phrase 1 of <span class='strikethrough'>strikethrough</span> #1 while the “interrupter” dancer made on-the-spot choices based on <span class='strikethrough'>strikethrough</span> #1’s omission/insertion choreographic instructions. I wanted to approach this process as a collaborative effort, especially considering I had designed the initial five phrases, however I found myself having to intervene because the interruptions never occurred straightaway as refined as the choreographic instructions permitted. For example, when “<em>narration</em> of the dance” was decidedly omitted, the interrupter could not bridge such a conceptual instruction to the physical field, so the decision to me presented itself as excellent in its spontaneity, but poor in its relationship to the subject matter. But what is <em>narration</em> when narration hasn’t yet been established? — at least not by the choreographer, only perhaps by the inner dialogue of the dancer, making impromptu associations as they perform the sequence. This sets up the question, how does one deal with taking something away that wasn’t originally there? Is an omission the editor’s implied insertion, the choreographer placing trust in the dancer to omit what never actually occurred? It is a transference, a mind game between the editor and poet as one, between the choreographer and dancer as one, until the centerpiece of each <span class='strikethrough'>strikethrough</span> is reached. 
								</p>
							</div>
							<div class="scene-media">
								<div class="image-container">
									<img src="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_page_1.jpg">
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_page_2.jpg">
								</div>
								<video controls poster="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_phrase_1_thumbnail.jpg">
									<source src="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_phrase_1.mp4" type="video/mp4">
								</video>
								<video controls poster="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_phrase_2_thumbnail.jpg">
									<source src="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_phrase_2.mp4" type="video/mp4">
								</video>
								<video controls poster="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_phrase_3_thumbnail.jpg">
									<source src="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_phrase_3.mp4" type="video/mp4">
								</video>
								<video controls poster="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_phrase_4_thumbnail.jpg">
									<source src="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_phrase_4.mp4" type="video/mp4">
								</video>
								<video controls poster="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_phrase_5_thumbnail.jpg">
									<source src="media/archive/rehearsal_process/1_12.10.19/strikethrough_1_phrase_5.mp4" type="video/mp4">
								</video>
							</div>
						</div>
						<div class="scene bottom hide">
							<div class="scene-text facedown">
								<h2>01.24.20</h2>
								<p>
									The rehearsal began with a review of phrases 1-5 that were self-choreographed directly from <span class='strikethrough'>strikethrough</span> #1, and remained in an unmanipulated form. We then proceeded to review the interrupter/interrupted duets with phrases 1 and 2 being manipulated by a modified <span class='strikethrough'>strikethrough</span> procedure directed at the interrupter (dancer responsible for making intuitive, spare-the-moment choreographic choices with my guidance). The beginning of phrase 1 needs to be adjusted spatially — <em>maybe less contact between the interrupter and interrupted spatially?</em> — it establishes an intimacy too early on. Folding, as an idea, is functional, but is not yet emotional. Although I’m somehow being drawn to a pathos in the way the dancers make contact — <em>maybe Israel extracts himself completely from the pathway before the trust fall?</em>
								</p>
								<p>
									I found myself falling back to my old habits of interfering without the use of the graphic score. While all the material is loosely based on it, I felt its insertion into every choreographic choice would be limited (also considering the <span class='strikethrough'>strikethrough</span> doesn’t operate as a poem parallel to the unstruck score, extracting content from each line, but rather, every few lines). This didn’t translate well to the production of movement in these specific duets, as it would have dictated a lot of stillness on the part of the interrupter (which I didn’t want as an axis/starting point to the creative process). Rather, stillness should be how the poems end, the presences of the score still present but over time deleted by the interference of the “edit.” 
								</p>
								<p>
									Some interesting qualities emerged from continuing to refine these duets — the idea of abandonment, give and take, throughlines, consequence, sequentiality, geometric rotating, spaceholds, dimension exploration (as in, the existence of a 3D plane inside a 2D context), and most of all, <em>folding</em> (the idea that one surface can become many through external instruction and internal physical manipulation). <em>Folding</em>, origami for instance, implies a method, a way of making ideas POP and live. My animator currently is attempting to replicate models of these 3D book sculptures in her projection layouts, which served as initial inspiration for the project — the idea of words gaining physical being via choreographic process. 
								</p>
								<p>
									Next, I had the dancers work individually with a sixth phrase I created as a mutation, a more physical metamorphosis of phrases 1-5. I call it “time lapse” — it embodies the ideas of circularity/starting over that phrases 1-5 must follow as a structure. It also speeds up the material as if — and I described it this way in rehearsal — a paper is being blown, flipped, and then folded at top speed. The tasks given were drastically different, Hiroka’s was to “insert minimization,” to char a glass sculpture of a phrase to a tiny shard of glass (in only the first half of phrase 6). In the second half, she was to “omit floor pattern” and over time evaporate the glass until the point of vanishment — this took the form of physical and choreographic fade of movement in space. Israel’s task was to “insert backwards, omit forwards” in the first half of phrase 6, and “insert enlargement” in the second half. I also incorporated an “insert speed-through” upon seeing how his traveling movements wound space up, like a whirlwind contained inside a small box. When viewing the two phrases side by side, it was evident they both had the same origin but had undergone an intense interference, a <span class='strikethrough'>strikethrough</span> if you will. While this process strayed from the score, it was asking to be discovered: the two phrases proposed an irony, one in which one dancer seemed to be assigned a higher road, while the other, executing movement of a higher physical demand, had somehow gotten the shorter end of the stick. It was honestly like watching two dancers who had pursued different forks in the road, a reveal of how chance procedure can indeed illustrate a narrative, if the creator possesses an awareness of what physical task could “subjectively” be deemed an easier road than another. This activity also reminded me of my signature style of altered synchronicity, like a puzzle that can’t be solved by the viewer because it looks familiar, like it could be solved but at the last minute, eludes them and steers them away from identification and towards inevitable intrigue. 
								</p>
								<p>
									Our last creation was a contact duet using phrase 6 as a base. Instead of keeping the roles of interrupter/interrupted straight, the lines became blurred as I moved Israel in and out of the situation. By far, this process was the most opaque, perhaps blurring the established process too much, but a good way of sensing how far I could go without completely erasing the history of the <span class='strikethrough'>strikethrough</span> procedures. I think, at this point, I was trying to be adaptable, working with the qualities demonstrated by the projection, in addition to the qualities revealed from our previous activities — these being: folding, flipping shifting a 2D plane in 3D space, testing the boundaries of perspective towards some culmination of information imbibed. I imagined the archway of a page before it slips, flips, and turns to the text; I imagined a restaurant door that flips both inwards and outward; I imagined a pinwheel that when the wind shifts direction, changes its shape entirely. I think, like “time lapse,” I wanted to explore the limits of folding, how speed can be inserted into something incredibly intricate without entrenching on its intricacy. Can the intricacy of word structures remain after modulation? This phrase remains the most unfinished, and will continue to morph as “quality” becomes more dominant in the process, and a deciding factor in a successful interaction of projection with live performance. 
								</p>
								<p>
									What I propose before next rehearsal, is to write four <span class='strikethrough'>strikethrough</span> poems based on the four pieces of material developed over the course of these two rehearsals (see <span class='strikethrough'>strikethrough</span> #14-17), as was similarly performed in the first writing workshop. What might these “follow-up” <span class='strikethrough'>strikethrough</span>s reveal about the original <span class='strikethrough'>strikethrough</span>s? Will they contain any remnants of the centerpiece of <span class='strikethrough'>strikethrough</span> #1? I think a process requires this — getting lost, endlessly creating accompaniments to test the strength of the original score, its durability when made interdisciplinary, when <em>struckthrough</em>, challenged, edited by a different medium. 
								</p>
								<p>
									What I propose as a future workshop to research both mediums (choreographic and writing processes) simultaneously, is to provide the directives of a <span class='strikethrough'>strikethrough</span> poem to a dancer and a writer at the same time. For example, even formatting directions given to the writer will be incorporated by the dancer as spatial dimensions. While the original stanza fragment is not original in this segment of the workshop, the next segment becomes the writer/dancer’s own creation through a series of intuitive, artistic choices. The act of witnessing will also be considered in producing the first raw fragment of <span class='strikethrough'>strikethrough</span>. Poems produced will then be projected overhead — both after completion and in real time. The real time element (explored as an alternative to the external guide providing directives) would involve the writer composing the score as the dancer invents movements to it, responding accordingly to the proceeding <span class='strikethrough'>strikethrough</span>s with an interpretation involving a charring of movement, a broken mirroring of the remaining glass, a workability with the leftovers.
								</p>
							</div>
							<div class="scene-media">
								<video controls preload="none" poster="media/archive/rehearsal_process/2_01.24.20/1_interrupter_interrupted_1_thumbnail.jpg">
									<source src="media/archive/rehearsal_process/2_01.24.20/1_strikethrough_1_interrupter_interrupted_1.mp4" type="video/mp4">
								</video>
								<video controls preload="none" poster="media/archive/rehearsal_process/2_01.24.20/2_interrupter_interrupted_2_thumbnail.jpg">
									<source src="media/archive/rehearsal_process/2_01.24.20/2_strikethrough_1_interrupter_interrupted_2.mp4" type="video/mp4">
								</video>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/2_01.24.20/3_3d_book_sculpture.jpg">
									<span class="image-caption">3D Book Sculpture</span>
								</div>
								<video controls preload="none" poster="media/archive/rehearsal_process/2_01.24.20/4_strikethrough_1_timelapse_thumbnail.jpg">
									<source src="media/archive/rehearsal_process/2_01.24.20/4_strikethrough_1_timelapse.mp4" type="video/mp4">
								</video>
								<video controls preload="none" poster="media/archive/rehearsal_process/2_01.24.20/5_phrase_6_thumbnail.jpg">
									<source src="media/archive/rehearsal_process/2_01.24.20/5_strikethrough_1_phrase_6.mp4" type="video/mp4">
								</video>
							</div>
						</div>
						<div class="scene bottom hide">
							<div class="scene-text facedown">
								<h2>01.29.20</h2>
								<p>
									The dance is old, like something found, parts of it erased, fallen, worn over time (like a book, its pages dog-eared, its spine warped). It is something discovered: remains, remnants. 

								</p>
								<p>
									The dance becomes the last fragment of <span class='strikethrough'>strikethrough</span> through a process of <em>building collapse</em>. <span class='strikethrough'>Strikethrough</span> illustrates a length of time, that language lasts, capitalizing on duration as a key component in the durability of text. So how can a structure be designed to be destroyed? Paper can become many things — it can fold into an albatross, an eagle, a crane, then unfold, containing the memory of its structure via rivers of creased lines. Paper can also house language, a narrative that perhaps is built up only to be destroyed upon its conclusion; like its potential is temporal, as are dancers who inhabit choreographies. One minute there is beautiful substance, adequacy, and at another, there are only pieces, barely holdable and in fact capable of holding space. 
								</p>
								<p>
									Upon our first meeting, Hamilton, our lighting design collaborator, agreed that it would be intriguing to overlay the spiral projection of the dancers over the book animations — perhaps towards the beginning — as an incentive for the dancers to emerge into space. We also discussed the possibility of altering the lighting of the animation to match the lighting on stage, so that when a shift occurs from top light to diagonal side light in the projection, it would also occur on stage, creating a dualism of spaces, the idea of different mediums moving on parallel tracks (similar to the dancers’ process of movement language acting as a mimesis of the textual movement on the animation). Because the costumes will probably be cream color, he mentioned that a cream color lighting would create this nostalgia associated with old treasures, like finding an old book in a library, or a document in an archive. He gave examples of old films with scenes missing that are now stitched together, then I thought of when my teachers used to place film slides in the yellowish light of an overhead projector. 

								</p>
								<p>
									In order to incorporate the music in this cream color space, he proposed overlaying a record scratch onto the already existing tracks, to create a vibe in which something partially erased, perhaps like an out-of-print book with missing pages — hence <span class='strikethrough'>strikethrough</span> — still remains.

								</p>
							</div>
							<div class="scene-media">
								<div class="image-container">
									<img src="media/archive/rehearsal_process/3_01.29.20/1_eagle_crane.png" alt="Eage Crane pose">
									<span class="image-caption" style="color: #BBB;">Eagle & Crane</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/3_01.29.20/2_spiral.jpg" alt="sample projection pattern named Spiral">
									<span class="image-caption" style="color: #BBB;">Spiral</span>
								</div>
							</div>
						</div>	
						<div class="scene bottom hide">
							<div class="scene-text facedown">
								<h2>02.02.20</h2>
								<p>
									I began rehearsal by pinpointing moments in the 40 minute score our musician Alex had sent me (pieces of the ambient sketches are excerpted throughout the archive of video clips). I labeled the sections bubble tone, open cathedral, underwater, shrill sliding, bubble skids, ambient crescendo, prelude undertone, Lynchian blue room, wave, spatial remnants, pixels, and remnant fade, and then identified specific sections that could accompany the material set in last rehearsal. Not surprisingly, the music established sometimes an urgency in which the ideas I had planned lost their justification for happening and something else had to take effect, and sometimes a daze in which we all fell into improvisations to examine the ambient space, our tiredness, our tiredness in the space. I asked the dancers to identify any associations they had upon hearing the pixel sound; Israel brought up the image of moving lines of type-writer text and orbiting stars, Hiroka mentioned bubbles rising to the top of a fish tank and popping upon surfacing. The pixels reminded me of Mary Poppins speedily type-setting metal letters into an old-fashioned letter press, pebbles catching and crackling in the filter of a fish tank, and rocks being crushed in a kitchen garbage disposal. These associations then established qualities that I could articulate to the dancers as movement directives, the letters corresponding with a delicate efficiency, the rising bubbles corresponding with a tension-gap inside layers of tension, the pebbles with a bouncy, quirkiness, and the crushed rocks with a solidified rigidity (for this one specifically, I instructed the dancers to flex their muscles throughout the entirety of a gesture, as opposed to just at its apex). 
								</p>
								<p>
									Before rehearsal, I aimed at widening the idea of “spinning to shapelessness,” expanding the duet devised from phrase 6 into a piece of folding, stop-motion origami.  I explained my movement plan to the dancers as a blueprint for what was about to occur. I then stepped out of demonstration mode into the mode of verbal choreographic guide, letting the dancers rise to standing, sustaining the idea of folding stop-motion with one point-of-contact, and then instructing them to minimize their material upon the initiation of a gaze, a facial meeting. Slowly, I told them to continue their minimization as a solo, separating from close contact into a mini, individual version of their interrupter/interrupted duet material. It became quite obvious that each of them was using the other person, but this time as a spatial orientation point and not a partner. I also had the dancers repeat the separation, but instead transition into a fully embodied version of the individual duet material. I found that the minimization in the individual material accommodated for the separation, it accounted for what was missing, but the full embodiment highlighted what was missing — I wanted the dancers to be in their original contact duet at this moment. I witnessed my observations becoming proposals, qualities arisen from any and all factors in the space redirecting these verbal guidances.
								</p>
								<p>
									I then asked the dancers to review the footage of their improvisational material. They noted a striking intimacy, revealed only after I changed the movement directive from point of contact to minimization through the gaze. The dance became a tango, angular yet soft — a narrative of two beings bound by the same structure, yet freed in their relation to one another, both vessels for improvisational material that had emerged from a brief, yet complex textual score.
								</p>
								<p>
									I then asked the dancers to review the footage of their improvisational material. They noted a striking intimacy, revealed only after I changed the movement directive from point of contact to minimization through the gaze. The dance became a tango, angular yet soft — a narrative of two beings bound by the same structure, yet freed in their relation to one another, both vessels for improvisational material that had emerged from a brief, yet complex textual score.
								</p>
								<p>
									When we pulled out the mini projector, the book opening and flipping on the back of Hiroka’s white linen shirt, I was reminded of the display of flying books on Grant Street, opposite the City Lights Bookstore. I was also reminded of my dream idea for a <span class='strikethrough'>strikethrough</span> installation: vast rows of projected-onto-dancers like the mirrored rows of salon chairs. I thought of the impossibility of reflective projection, because when you project onto a mirror it only shines a flashlight back at you, <em>but what if?</em> My costume designer suggested ivory, draped sleeves, like the loosened pages of a book, blown off their binding into a lettered air.

								</p>
								<p>
									Our last exploration was what I called “spiral insert,” in response to the wave section of the music. I created it out of functionality, yet I realized, after setting transitional floor material for Israel based on phrase 5, I didn’t need any more material than what had already been created —<em>what purpose does a phrase serve? Is it like a beautiful metaphor, to be inserted? Or is it like a trashy one, to be omitted? Or can it merely exist without being placed out or in?</em> Here, I noticed the ever-presence of insertion and omission in any choreographic process, whether pre-meditated in a score, or suddenly announced on a whim. <em>But can a choreography comment on this by say, including what mustn't be included, omitting what mustn't be omitted?</em> Like choosing so many wrong paths that they immediately become not a right path, but one of mystery and more wonderment. 

								</p>
								<p>
									Spending the evening hours surveying this rehearsal’s footage, I found myself discovering these dancers, this unusual practice we lead, to be extremely cinematic — a subtle poetry in each image. It was like I was sifting through the past: what happened, reinvented to some nostalgic museum of process that could inform the not-yet made. For example, I named a still “billowing,” but then came across the same choreography at a different shot width and angle and named it “charred distance.” I never would have thought “billowing” if not for the muted waveform in the music that led me to instruct Hiroka to encounter thickness as a result of speed, and speed as a result of thickness while completing the material. This rehearsal tested my ability to make decisions about how to center its immense creative energy, with both me, the dancers, the score, the projection, and sound illuminating infinite possible spaces for our ideas to inhabit.
								</p>
							</div>
							<div class="scene-media">
								<div class="image-container">
									<img src="media/archive/rehearsal_process/4_02.02.20/1_stop-motion_origami.png" alt="Stop Motion Origami Pose">
									<span class="image-caption" style="color: #BBB; margin-left: 7px; margin-bottom: 7px;">Stop Motion Origami</span>
								</div>
								<video controls preload="none" poster = "media/archive/rehearsal_process/4_02.02.20/2_strikethrough_1_minimization_thumbnail.jpg">
									<source src="/media/archive/rehearsal_process/4_02.02.20/2_strikethrough_1_minimization.mp4" type="video/mp4">
								</video>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/4_02.02.20/3_separation.png" alt="Separation pose">
									<span class="image-caption" style="color: #BBB;">Separation</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/4_02.02.20/4_angular_tango.png" alt="Angualr Tango pose">
									<span class="image-caption" style="color: #BBB;">Angular Tango</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/4_02.02.20/5_soft_tango.png" alt="Soft Tango pose">
									<span class="image-caption" style="color: #BBB;">Soft Tango</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/4_02.02.20/6_flying_books.jpg" alt="Image of Flying Books in City Street">
									<span class="image-caption" style="color: #DDD;">Flying Books</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/4_02.02.20/7_blowing_pages.jpg" alt="Illustration of a book with pages turning">
									<span class="image-caption">Blowing Pages</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/4_02.02.20/8_letters.jpg" alt="Illustration of a book with letters coming out of it">
									<span class="image-caption" style="margin-left: 15px; margin-bottom: 15px;">Letters</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/4_02.02.20/9_billowing_II.png">
									<span class="image-caption" style="color: #BBB;">Billowing II</span>
								</div>
							</div>
						</div>	
						<div class="scene bottom hide">
							<div class="scene-text facedown">
								<h2>02.02.20 & 02.05.20</h2>
								<p>
									I dimmed the studio light board, a moist finger dowsing gaslights, my knuckles little knobs for adjustment, edging the video camera towards its dancing subjects. My heart darkening in the space, I was reminded of my father’s hands waterfalling over my bedroom nightswitch. Comfort from behind a camera like watching a childhood classic. My feet sunk into the grey marley as the lens swam between left and right, the Sunday afternoon light tucked in by black curtains at each corner of the space. Moviemaker me was sifting for dream in a bowl of netted choreographies, sparkles of sub bass synth tapering out the crackly stereo system like comits in the eardrums. We were all in a daze of inspiration, instincts coupled with strange feelings of relief — that we could stay here forever, creating to a tidal wave ambience and fading with pixels of tetris sound into a digital landmass of our own existence. 

								</p>
								<p>
									My muscles did not ache, but longed to move upon reveling in the translation of my verbalizations into physical tasks. <em>Dancers are like psychedelics</em>, fancies of ballooning colors and warped shapes shouting silently — I am nothing without this exclamatory, question-mark space. It hurts, it is almost regretful, to leave a studio — like leaving a field of slick ice that you carved for hours with your skates, only to have the dust disperse and the new snow erase the figure-eights. When we left this room, another couple had taken our place; it would be occupied for the remainder of the night. The green screen unfolded in rolls of wrapping paper, cast downwards like a tapestry. I was so green, my cheeks puffed in sickened envy — I wanted the space forever, as if this passion became a selfish obsession, something to consume the relentless unfillable time. <em>It’s easy to have a 4am night here.</em> 

								</p>
								<p>
									Leaving a space — for me — as small and intimidating as a studio, is an airplane departing out my cortex. I’m losing my mind to a tarmac and a skybound road when I leave creative practice. I told a rehearsal director once that I couldn’t believe the four hours were over, the clock hands having rotated 360 degrees consecutively, my back spazzing and my hands twirling on the off-seconds, hoping to draw out the time like ropes of taffy, sheets of blown sugar glass. 
								</p>
								<p>
									When I told my dancers I was grateful for them, I don’t think they understood. I was grateful for their ideas, yes, but merely their presence kept my breath flowing. Spurts of excitement about movement patterns choked the insides of my throat, wrenched my heart like when you fall in love; but rather, I had fallen in love with a passion, the heart a sucker for the head. <em>What is this? Is this why my feet feel in touch with nowhere but rooms full of red curtains and windows and mirrors?</em>

								</p>
								<p>
									The last time I didn’t want to leave somewhere was yesterday, and the time before that: Wednesday, Tuesday, Monday — like the fight to stay is continual, yet still scattered with inevitable leavings. 

								</p>
								<p>
									I watched the dancers’ hands transition over different body surfaces, like pieces of a music box with a never-ending wind-up mechanism. Their gazes soft as cashmere, their feet supple like spreading dough. A pressure cooker of arrivals at stillness, but never	really		getting 	quite 		still. It is stillness we can all learn from — a pressured spot, a traffic stop, but always rolling, a yellow light, a decrescendoing rest, a 1 being divided by 0. 

								</p>
								<p>
									It is not passion that is mathematical, but the target at which it directs. Passion is hair strewn, split toes, skin peeled in waiting flakes, it is love for the people who abandon themselves for your ideas. And it is love for the ideas that make ripple rings upon your dancers’ first steps inside of them. 
								</p>
								<p>
									II.
								</p>
								<p>
									The glass panels of the world trade center reflect cumulus clouds, impressionist Manet, white blurring cataracts — it is Saturday morning, wind muffles my music so the bright headphones end up wound in my pocket. 
								</p>
								<p>
									The studio mirrors reflect me dancing to a muted stereo, in the room of the speaker I blew last summer to Petula Clark’s “Downtown.”
								</p>
								<p>
									Downtown is all I want to go, to avoid the <em>up</em> everyone seems to be going, to find more space between the skyline and you because only good things exist before the limits. 
								</p>
								<p>
									On the Hudson 15 minutes from Cortland Street is a poetry library where words live in quiet corners like newly strung beads. It is these words, like bodies, that I hold under my caffeinated breath. A bounce back to the studio, every line break the dancers arms, softening cotton to my directives, their gazes dazed in the doused flames of 3 hour rehearsals. 
								</p>
								<p>
									We are tired. 
								</p>
								<p>
									But we love to become each other’s ideas, eventually ink spots on rice paper in the chapbook collection — this will never end. 
								</p>
								<p>
									At one point someone asked me if I had a lover; I told them one dances to become a lover with oneself; one writes to italicize the stale, free moments, into cinnamon sweet messages, to decapitalize the selfishness one always drags along when the notebook treks across state lines, to punctuate the river of unknowns with rocks and hollow logs to cross it. One dances to become a river, being endlessly crossed, and assuredly loved along the way. 
								</p>
							</div>
							<div class="scene-media">
								<div class="image-container">
									<img src="media/archive/rehearsal_process/5_02.02.20-02.05.20/1_cashmere.png" alt="Cashmere pose">
									<span class="image-caption" style="color: #BBB;">Cashmere</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/5_02.02.20-02.05.20/2_stillness.png" alt="Stillness pose">
									<span class="image-caption" style="color: #BBB;">Stillness</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/5_02.02.20-02.05.20/3_with_oneself.png" alt="With Oneself pose">
									<span class="image-caption" style="color: #BBB;">With Oneself</span>
								</div>
							</div>
						</div>	
						<div class="scene bottom hide">
							<div class="scene-text facedown">
								<h2>02.11.20</h2>
								<p>
									I unfolded Anne Carson’s <em>Nox</em> like dismantling a massive accordion. I shared examples of the <span class='strikethrough'>strikethrough</span> score (not the particular one used in the choreography, but others used in the animations), as well as ideas for the zine that will be distributed among audience members during the show. I think it was the right time to “spill the beans,” to reveal to these dancers that they house language in this structure. I think the more physicality of the splayed, tiled pages of <em>Nox</em> on the studio floor informed our first exploration into time lapse folding, specifically from one side of the room to the other, like scaling the top left portion of a book page all the way to the bottom right. The exploration proved a more embodied practice than the phrase 1-5 material (especially with the overlaid instructions as minimization): the freedom of improvisation with a set quality and direction invited more creativity, the dancers space holding in and out of one another like hands holding each other in many different ways, like twisting a key many times inside a lock before succeeding at entering. This movement pathway honestly wasn’t even about the entering, the doorway, the end result — it was about the investment of the middle before at last reaching the end, to then realize there are more middles to explore. 
								</p>
								<p>
									We also worked on the first interrupter/interrupted duet in the mode one of my thesis mentors had suggested — complicating the linear framework of the material with divetts, hills, loop de loops, like jitters on a seismograph or detours from a construction site. 
								</p>
								<p>
									First I decided that the distance of the phrase would lengthen, kind of like the book page exploration, but instead would more from the downstage left diagonal to the upstage right diagonal. In relationship with the instructions from <span class='strikethrough'>strikethrough</span> #<em>1</em> that were originally used to build the material, I considered not the improvisation fragments, not the omit/insert fragments, but the <span class='strikethrough'>strikethrough</span> line itself. This element of the score is in fact the most architectural but — to more text of course. Just as our concert advisor noted her eyes being drawn to the projected swirling dancers over the live dancers, viewers have a tendency to search for narrative in any space, and that happens to be language over geometric patterns. That said, I became intrigued with how, if the dancers existed on the <span class='strikethrough'>strikethrough</span> line itself, what might become of their relationship to space and each other? How might this line become energetic — fragmenting the original phrase work into not minimizations but an enlarged, dynamic, new set of material. 
								</p>
								<p>
									In this process, I assumed more of a role as movement inventor than external choreographic guide, taking the dancers’ original interpretations of the omit/insert instructions and branching them along the line into the greater bounds of space. Some material I merely decided would travel instead of remaining stationary, other material would undergo a more significant transference: for example, partner weight shares became full on lifts, permanent exits from the starting point became eminent returns, floorwork became athletic phrase work in the vertical space. And it all eventually dispersed in a whirlwind of pages, Hiroka’s spine becoming rigid upon standing, Israel’s zig-zagging falls to join Hiroka like a page being reverse flipped, ripped and blown away, to then become the next section: <em>time lapse.</em> 
								</p>
							</div>
							<div class="scene-media">
								<div class="image-container">
									<img src="media/archive/rehearsal_process/6_02.11.20/1_Nox.jpg" alt="Picture of Anne carson's unfolding book 'Nox'">
									<span class="image-caption" style="margin-left: 30px; margin-bottom: 30px;">Nox</span>
								</div>
								<video controls preload="none" poster="media/archive/rehearsal_process/6_02.11.20/2_strikethrough_1_interrupter_interrupted_expanded_thumbnail.jpg">
									<source src="media/archive/rehearsal_process/6_02.11.20/2_strikethrough_1_interrupter_interrupted_expanded.mp4" type="video/mp4">
								</video>
							</div>
						</div>	
						<div class="scene bottom hide">
							<div class="scene-text facedown">
								<h2>02.21.20 & 02.23.20</h2>
								<p>
									<em>We can either be this embodied entity, or be humans making choices inside this embodied entity</em>, I posed to the dancers when we had arrived at the point of acknowledging ourselves as people inside process. It is funny to think that we as dancers don’t, but really, when work is task-based, when it relies on accomplishment and functionality and not relation, it is just that: <em>objectivity</em>. 
								</p>
								<p>
									In these past two rehearsals, I have felt like both the tortoise and the hare, slowing down my collaborators towards moments of introspection, yet dashing towards a finish line that hasn’t yet been built in the hopes we can put a period at the end of uncertainty. But in a phone call today, one of my long-time mentors said uncertainty in this profession never goes away. Because discovery requires this before-space of unknowing, a San Fran fog cover to preface the sun rays that unexpectedly burn through.
								</p>
								<p>
									I found myself speeding through animation, music, and lighting notes, in the fear the dance would disappear. I worried about our recent decision to play with the qualities of the <span class='strikethrough'>strikethrough</span> poem, as opposed to the restructuring of the words themselves﻿ — and yet when we tested them on the Studio 1 projector, they created the spaciousness the dancers needed; before, the overuse of the words was crowding them into a sort of unnecessary dueling. The environment for <span class='strikethrough'>strikethrough</span> should not be one of competition, neither element should overshadow the other, nor is one more important. 
								</p>
								<p>
									This brings me to Jade’s experimentation with an expanding rice-paper star, with spokes of bubbling letters. At first, I feared it would pose a distraction, but soon we began to work with its qualities of cloudy, formless expanse, a circulating, veiled covering eventually zooming into complete white. During this animation, the dancers transition from floor to standing in a swirling pattern, to then burst out running into an orbiting-planet formation, to slowly spatially condense and thicken their bodies into a gestual, 34 piece minimization phrase. 
								</p>
								<p>
									Other ideas emerged with Jade’s animations: the hollow carcass giving me the idea to experiment with a slow-motion boniness, an extremely thick, stretched-like taffy, very placed in-betweens. From the carcass to the star, I directed the dancers to catch something high up with a C-curve gaze that potentially could carry them from stage left to right, around one another in a hurricane-like revolution, then downstage to execute the most physically dynamic material of the duet. Before I decided on the swirl, I originally imagined the dancers would turn their backs on the audience to face the tiny, growing orb, which would eventually become the star. 
								</p>
								<p>
									The black-and-grey liquid pool animation also housed more space for the dance, its ripples pulling viewers from the abstracted nature of the movement to somehow the concretized image of water — as if mirroring the concrete presentation of the book, only to have it dissolve into the ideas it related. The book and text floating out of it was what posed the most complications — how could the straightforward idea of reading, but also the ambiguous idea of choreographic transference be related via the dual lives of the projection and the dancers? At work one morning, after accidentally breaking the copy machine, I was then reminded of the image of the rolling mini-car wash brushes that fed the paper out. This smoothness in contact fought with the pressure of inserting something through, it was a perfect way to describe how a page rubs up against another page before flipping, soaking the ideas of the previous onto the ideas of the forthcoming. I instructed the dancers to upright themselves like reverse-stacked dominos to face the projection, walking alongside one another in a metered pattern while flipping behind and in front. This pattern eventually spirals the dancers out into separate beings performing some of the most complex iterations of the <span class='strikethrough'>strikethrough</span> material — honestly, this past time it looked like they were robots in a statue garden accidentally activated by a curious onlooker, like words triggered to pop up upon being read, like a music box played when wound by curious fingers.
								</p>
								<p>
									The last section we modified was the first: Hiroka begins on stage with a stagnant, standing iteration of phrase 1 — as if “insert standing” were applied to the entire poem. In this case, the score did not dictate the staging, but the image of a book flipping. At this moment, a miniature book is projected onto Israel’s back, and a fluttering cloud of letters (not yet words) are projected onto Hiroka’s back, who stands to his left. As a way of synchronizing with the minimized phrase 1, Israel only moves his head, neck, and right arm, while Hiroka engages her entire upper torso, head, neck, and arms, creating the effect she is <em>flipping</em> him. The phrase dissolves into the floor while the projections float up onto the cyc to reintroduce the image of the book. 
								</p>
							</div>
							<div class="scene-media">
								<div class="image-container">
									<img src="media/archive/rehearsal_process/7_02.21.20-02.23.20/1_rice_paper_star.jpg" alt="sample projection pattern named Rice Paper Star">
									<span class="image-caption" style="color: #BBB;">Rice Paper Star</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/7_02.21.20-02.23.20/2_hollow_carcass.jpg" alt="sample projection pattern named Hollw Carcass">
									<span class="image-caption" style="color: #BBB;">Hollow Carcass</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/7_02.21.20-02.23.20/3_blackngray_liquid_pool.jpg" alt="sample projection pattern named Black and Gray Liquid Pool">
									<span class="image-caption" style="color: #BBB;">Black & Gray Liquid Pool</span>
								</div>
							</div>
						</div>	
						<div class="scene bottom hide">
							<div class="scene-text facedown">
								<h2>03.01.20</h2>
								<p>
									For the first time, the entire collaborative team attended rehearsal: I mentioned it was like finally meeting a pen-pal, or after years of rainchecks, finally making a date. We finalized the costumes, but in exchange, seemed to complexify the synchronized realm of the music and projection. Despite the audience receiving a booklet containing the <span class='strikethrough'><em>strikethrough</em></span> score, many of my mentors noted last week that the duration of the poem’s ascension into the backdrop space was not enough to absorb it. My music professor noted the fuzziness of the dream segments, the liquid pool and the spider web, musically and visually, and did not seem to comprehend their significance as representations of the inner world the poem depicts, a more qualitatively rich sequence than the straightforwardness of the book and poem lifting into space. It was clear that the duration for “reading” had to be extended, and that perhaps the grainy page could serve as a transitional cleansing into these more abstract spaces.
								</p>
								<p>
									NiNi, my friend and artistic collaborator also attended this rehearsal’s no-media run. At this point, it is still in draft structure, raw, malleable — yet also vulnerable to changes that might deactivate the potency of <span class='strikethrough'>strikethrough</span>. NiNi first spoke of the ending, weakened by the lack of intentionality in the gesture sequence, and her inability to see what had been <em>done</em> with the material, not simply the fact that it had been created. For instance, when Hiroka’s head tilts subtly while Israel flips rapidly on the floor: is her distinction from him a choice to resist? Or her own way of being initiated and/or initiating? NiNi noted that she could see the <em>tasks</em> too much, and not enough the revitalization of the humanity and intricate play inside those tasks. The tasks themselves had become dry — unlike when they were first created — in effect rendering them back to their sketch states, unnatural, because at this point they belonged in a performative state, not just a creation state. She used the word that most terrifies a choreographer, “cliché,” but immediately I knew why — in the end, the dancers exit the space, executing an “insert fade out,” but anticlimactically, with little apparent reason for leaving each other, as if leaving an assignment for later, incomplete, sloppy. It’s quite laughable, the inclusion of material that speaks so erroneously of the dance as a whole, even if it’s draft material. 
								</p>
								<p>
									With these notes in mind, I propose to put on a “director’s hat” with the dancers, noting how the space (specifically with the presence of the music and projection) is constantly changing, and their states within the space must also change. The scene change between the mapped projections and the cyc projection is a first — the letters on Hiroka’s back are sprightly; while only phonemes, they still talk, emerging from the mini-book on Israel’s back. When the dancers swirl to the floor, we’ve at once zoomed in to what lies inside a book, a comfort of the pages atop one another like bed covers. It’s as if the common fairy-tale overture of a book opening into a story has been turned on its head, this time opening into the story of the words themselves. 
								</p>
								<p>
									The dancers’ upstage walking pattern should be more concerned with the ascension of the words into the poem: perhaps they accumulate in a compact state, then switch directions dispersing with the <span class='strikethrough'>strikethrough</span> of the letters into III. of the <span class='strikethrough'>strikethrough</span> state. Rather, that transition should initiate the time-lapse material, one of the compilations of <span class='strikethrough'>strikethrough</span> instructions. The dancers in this material are focused on the downstage right diagonal and not each other, as the task originally was very individual. I propose to integrate the individual phrases into more of a conversation between the dancers, like the 34 gestures, an ambitious sculpting of space that so far has been so tightly bound by task and language. 
								</p>
								<p>
									There then needs to be an establishment of Hiroka as the manipulator in the next phrase. Why does Israel stand up to then be manipulated? Hiroka should have an active role in shaping his trajectory, maybe by reintroducing the motif of the counterbalance, the brief organizing of letters before re-scrambling them to form new words. This piece should not only be about procedures, but about reformation, new things created from blacking out and inserting instructions over the old. This interruption should be a new thing, because of how the words were striked around it. Hiroka is constantly giving and taking away in this material, Israel a product of the dancer-as-live-architect. I think a goal in this process might be just that, to illustrate the process in real time, choices being made in real time. And in conversation with the media, this particular section should mirror the vibrational state of the liquid pool — maybe in the pauses between shapes there can be a minute shake, or a shake that crumples the dancers to the floor? 
								</p>
								<p>
									There needs to be a greater impetus or risk before the expanded interrupter/interrupted duet; at this point the qualities evoked by the <span class='strikethrough'>strikethrough</span> poem act upon the dancers as an external force, almost like the weather (hence my decision to label the transition to this phrase “hurricane”). The dancers should co-join as one force working unitedly in this material, as opposed to one on the other. Even though Israel is still interrupting Hiroka in the original phrase 1, the directions I gave them in the creation of this new material was more movement-based, relying solely on the activation of the body. This forced the dancers to abandon the dryness of the tasks in the effort of connecting with the other, achieving the functionality required of each picture in the sequence. <em>And as a result, they really dance! Who would have thought!</em>
								</p>
								<p>
									The floor swirls to the running spiral may have to be cut in order to open up the space for the expanding star, a stark image of lively paper wings which later become the same dancers that wear them. And as they swivel to the centerstage gestures, I wonder if to re-become the object — as they began — or as if to un-<span class='strikethrough'>strikethrough</span> their choreographic journey, the gestures might solidify into objects, a disassembling followed by a reassembling in another portion of the stage (like when the dancers read the poem, but as a later, more subsumed realization of the same poem). After this initial reforming of space, this series of objects can finally minimize like it was meant to be closed and returned to its check-out location. 

								</p>
							</div>
							<div class="scene-media">
								<div class="image-container">
									<img src="media/archive/rehearsal_process/8_03.01.20/1_booklet.jpg">
									<span class="image-caption" style="color: #DDD;"><span class="strikethrough">Strikethrough</span> Booklet</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/8_03.01.20/2_letters_1.jpg">
									<span class="image-caption" style="color: #BBB;">Letters</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/8_03.01.20/3_mini-book.jpg">
									<span class="image-caption" style="color: #BBB;">Mini Book</span>
								</div>
								<div class="image-container">
									<img src="media/archive/rehearsal_process/8_03.01.20/4_sculpting.png">
									<span class="image-caption" style="color: #BBB;">Sculpting</span>
								</div>
							</div>
						</div>	
					<div class='button-div'>
						<div id="loading">
							<img src="/media/loading.gif">
						</div>
						<button class="nav-button hide fadein" id="previous-scene"> Previous</button>
						<div class="page-indicator">
							<div class="dot active"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							<div class="dot"></div>
							
						</div>
						<button class="nav-button" id="next-scene">Next </button>
					</div>
				</div>
			<%- include('partials/contact_us.ejs') %>
			</div>
		</div>
	</body>
	<script src="../scripts/common.js"></script>
	<script src = "../scripts/rehearsal_process.js"></script>
</html>
						