html {
	scroll-behavior: smooth;
}
body {
	background-image: radial-gradient(#FFFF, #4443 99%), url(/media/paper.svg);
	-webkit-background-size: cover;
  	-moz-background-size: 100% 100% !important;
 	-o-background-size: cover;
  	background-size: 100% 100% !important;
  	background-repeat: repeat-y;
	margin: 0 0;
	font-family: 'Libre Baskerville', serif;
	min-height: 100vh;
	width: 100%;
}
h1, h2, h3 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
button {
	font-family: "Montserrat", sans-serif;
	background-color: black;
	border-radius: 5px;
	border-color: black;
	color: white;
	border-style: solid;
	transition-duration: 0.7s;
}
button:hover {
	background-color: white;
	color: black;
	border-color: grey;
}
button:focus {
	outline: none;
}
video:hover {
	cursor: pointer;
}
video:focus {
	outline: none;
}
.page-header {
	/*text-decoration: none;*/
	text-align: center;
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
	display:inline-block;
	/*opacity: 0;*/
	/*padding: 0 40px; */
}
.menu-item {
	display: none;
	/*width: 10%;*/
	margin: 0 2%;
	height: 50px;
	/*font-size: 16pt;*/
	text-decoration: none;
	/*float: left;*/
}
.menu-item h3 {
	font-size: 3.8vh;

}
.inner, .outer {
	opacity: 0;
}
.white-space {
	white-space: pre;
}
#center-header {
	z-index: 2;
	position: relative;
	display: inline-block;
	/*width: auto;*/
	/*white-space: pre;*/
	/*height: 5%;*/
	/*text-decoration: line-through;*/
}
#center-header h1 {
	font-size: 7.0vh;

}
#center-header::before {
	z-index: 1;
	content: '';
	position: absolute;
	width: 110%;
	background-color: black;
	margin-top: 19%;
	/*height: 18pt;*/
	padding-top: 2px;
	padding-bottom: 2px;
	top: 0px;
	left:-5%;
}
.wide-column {
	position: relative;
	width: 80%;
	margin: 0 auto;
	/*padding: 0 5% 0 5%;*/
}
.center-column {
	width: auto;
	margin-left: 23%;
	margin-right: 25%;
	/*position: relative;*/
}
#two-column {
	/*display: inline-block;*/
	width: 100%;
	
	position: relative;
	top: 0px;
	left: 0px;
	/*overflow: auto;*/
}
.center-div {
	text-align: center;
}
.archive-nav {
	position: relative;
	flex-basis: 100%;
	display: flex;
	justify-content: center;
}
.archive-nav img {
	margin-top: 7px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	width: 14px;
	display: inline-block;
}
.archive-nav * {
	display: inline-block;
}
.archive-nav h2 {
	margin: 2px 0px;
}
.archive-nav div {
	bottom: 20%;
	vertical-align: bottom;
	border-bottom: solid 2px black;
	position: absolute;
}
.archive-nav .archive-prev {
	padding-right: 7px;
	left: 0px;
}
.archive-nav .archive-prev img {
	float: left;
}
.archive-nav .archive-next {
	padding-left: 7px;
	right: 0px;
}
.archive-nav .archive-next img {
	float: right;
}
.nav-button {
	font-size: 14pt; 
	width: 70%;
	height: 40px;
	margin: 5px 0;
	font-family: "Montserrat", sans-serif;
	background-color: black;
	border-radius: 5px;
	border-color: black;
	color: white;
	border-style: solid;
	transition: all 0.7s ease;
}
.nav-button:hover {
	cursor: pointer;
	background-color: white;
	color: black;
	border-color: grey;
	text-decoration: line-through;
	
}
.nav-button:focus {
	outline: none;
}
#contact-button .nav-button {
	width: auto;
}
.button-with-image:hover {
	background-color: black;
	color: white;
	border-color: #aeaeae;
	-webkit-filter: invert(1);
   	filter: invert(1);
}
.button-with-image:focus {
	background-color: black;
	color: white;
	border-color: #aeaeae;
	-webkit-filter: invert(1);
   	filter: invert(1);
}
.button-icon {
	vertical-align: middle;
	width: 9px;
	margin:0 10px;
	filter: invert(100%);
}
#wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	width: 100%;
}
.break {
	flex-basis: 100%;
	height: 0;
}
.contact-div {
	position: relative;
	margin-top: 50px;
	margin-bottom: 75px;
	flex-basis: 100%;
	margin: 50px 10% 75px 10%;
}
.contact-div span {
	position: relative;
	display: inline-block;
	/*height: 20px;*/
	vertical-align: middle;
	margin: 15px 0 0 20px;
}
.contact {
	float: left;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	width: auto;
	/*min-height: 30px;*/
	padding-top: 10px;
}
#contact-button {
	min-height: 20px;
	display: inline-block;
	float: right;
	text-align: center;
	margin-bottom: 10px;
}
#contact-button .nav-button {
	font-size: 3.0vh;
}
.show-link-deco {
	text-decoration: underline;
	transition: color ease 0.3s;
}

.show-link-deco:hover {
	color: #2314a8;
	cursor: pointer;
}
.strikethrough {
	text-decoration: line-through;
}
.pointer-hover:hover {
	cursor: pointer;
}
.no-opacity, .transparent {
	opacity: 0;
}
.no-pointer {
	cursor: default;
}
.no-pointer:hover {
	cursor: default;
}
.hide {
	display: none;
}

.quick-fadein {
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.quick-fadeout {
	animation: fadeOutAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.quick-fadeout-2 {
	animation: fadeout2 ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.fadein {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.fadein-2 {
	animation: fadein2 ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.fadeout {
	animation: fadeOutAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.fadeout-2 {
	animation: fadeout2 ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.long-fadein {
	animation: fadeInAnimation ease 6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.long-fadeout {
	animation: fadeOutAnimation ease 6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
.fade-pulse {
	animation: fadeInAnimation ease-in 4s;
	animation-fill-mode: forwards;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}
@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
		z-index: 0;
	}
	100% {
		opacity: 1;
		z-index: 1;
	}
}
@keyframes fadeOutAnimation {
	0% {
		opacity: 1;
		z-index: 1;
	}
	100% {
		opacity: 0;
		z-index: 0;
	}
}
@keyframes fadein2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeout2 {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}